{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form id="image-query-form" action="{{ url_for('core.query_image') }}" method="post" enctype="multipart/form-data"> 
        <div class="form-group">
            <label for="file">16x128 image file (.npy):</label>
            <input type="file" class="form-control-file" id="file">
        </div>
        
        <button class="btn btn-primary" type="submit">Query for Nearest Data Point</button>

        <div class="form-group" id="input-error-group">
            <span id="input-error">
	</div>
    </form>
    <table class="table" id="results">
        <tr><td>Distance</td><td><span id="disp-dist"></span></td> </tr>
        <tr><td>Timestamp</td><td><span id="disp-timestamp"></span></td> </tr>
        <tr><td>Target</td><td><span id="disp-target"></span></td> </tr>
        <tr><td>Scan Number</td><td><span id="disp-scannum"></span></td> </tr>
        <tr><td>Coarse Channel</td><td><span id="disp-coarsechnl"></span></td> </tr>
        <tr><td>Prefix</td><td><span id="disp-prefix"></span></td> </tr>
        <tr><td>ID</td><td><span id="disp-id"></span></td> </tr>
        <tr><td>Image</td><td><span id="disp-img"></span></td></tr>
        </tbody>
    </table>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}
